.blogName {
    text-align: center;
    font-size: 2.5rem;
}

.blogTagline {
    text-align: center;
    font-size: 1.5rem;
    color: #9a9898;
}

.blogDetails {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.blogAuthors,
.blogPublicationDate,
.blogRating,
.blogNumComments {
    font-size: 1rem;
    color: #6c757d;
    display: flex;
    align-items: center;
}

.blogIcon {
    margin-right: 0.5rem;
}

.userIcon {
    color: #5360da;
}
.dateIcon {
    color: #4bddbd;
}
.ratingIcon {
    color: #f0b90b;
}
.commentsIcon {
    color: #f04e4e;
}
.blogHeaderContainer {
    margin-bottom: 2rem;
    padding: 1rem;
}
