.blogCard {
    background-color: var(--bg-card);
    border-radius: 10px;
}
.blogCoverImageContainer {
    position: relative;
    width: 100%;
    height: 50%;
}

.blogCoverImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.blogDetails {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.blogPublicationDate,
.blogRating,
.blogNumComments {
    display: flex;
    align-items: center;
    font-size: 0.775rem;
    gap: 10px;
}
.blogIcon svg{
    width: 1.2rem;
    height: 1.2rem;
    flex-shrink: 0;
}

.dateIcon {
    color: #4bddbd;
}
.ratingIcon {
    color: #f0b90b;
}
.commentsIcon {
    color: #f04e4e;
}
.blogName {
    font-size: 1rem;
    font-weight: bold;
    height: 3.4em;
    margin: 0;
    color: var(--text-primary);
}

.blogSummary {
    font-size: 0.875rem;
    color: var(--text-tertiary);
}

.blogMeta {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-top: auto;
}

.blogReadMoreButton {
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
    background-color: transparent;
    color: var(--text-accent);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.775rem;
    cursor: pointer;
}
.blogReadMoreButton:hover {
    background-color: var(--bg-accent-secondary);
    color: var(--text-primary);
}